@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 149 100% 10%;
    --card: 60 50% 95%;
    --card-foreground: 149 100% 10%;
    --popover: 60 50% 95%;
    --popover-foreground: 149 100% 10%;
    --primary: 149 100% 19.6%;
    --primary-foreground: 60 56% 91%;
    --secondary: 149 20% 85%;
    --secondary-foreground: 149 100% 10%;
    --muted: 149 20% 88%;
    --muted-foreground: 149 30% 30%;
    --accent: 149 30% 75%;
    --accent-foreground: 149 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 56% 91%;
    --border: 149 20% 80%;
    --input: 149 20% 82%;
    --ring: 149 100% 19.6%;
    --chart-1: 149 100% 19.6%;
    --chart-2: 149 50% 40%;
    --chart-3: 149 40% 50%;
    --chart-4: 149 30% 60%;
    --chart-5: 149 20% 70%;
    --radius: 0.5rem;
    --sidebar-background: 60 40% 98%;
    --sidebar-foreground: 149 100% 10%;
    --sidebar-primary: 149 100% 19.6%;
    --sidebar-primary-foreground: 60 56% 91%;
    --sidebar-accent: 149 20% 85%;
    --sidebar-accent-foreground: 149 100% 10%;
    --sidebar-border: 149 20% 80%;
    --sidebar-ring: 149 100% 19.6%;
  }
  .dark {
    --background: 150 15% 10%;
    --foreground: 60 56% 91%;
    --card: 150 15% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 150 15% 12%;
    --popover-foreground: 60 56% 91%;
    --primary: 149 70% 35%;
    --primary-foreground: 150 15% 10%;
    --secondary: 150 15% 15%;
    --secondary-foreground: 60 56% 91%;
    --muted: 150 15% 15%;
    --muted-foreground: 60 30% 70%;
    --accent: 150 15% 20%;
    --accent-foreground: 60 56% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 56% 91%;
    --border: 150 15% 20%;
    --input: 150 15% 20%;
    --ring: 149 70% 35%;
    --chart-1: 149 70% 35%;
    --chart-2: 149 60% 45%;
    --chart-3: 149 50% 55%;
    --chart-4: 149 40% 65%;
    --chart-5: 149 30% 75%;
    --sidebar-background: 150 15% 10%;
    --sidebar-foreground: 60 56% 91%;
    --sidebar-primary: 149 70% 35%;
    --sidebar-primary-foreground: 150 15% 10%;
    --sidebar-accent: 150 15% 20%;
    --sidebar-accent-foreground: 60 56% 91%;
    --sidebar-border: 150 15% 20%;
    --sidebar-ring: 149 70% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
